
.sectionBannerTrodat {
    background: {
        image: url(../assets/img/banner-trodat.png);
        size: cover;
        position: center;
        repeat: no-repeat;
    }

    height: 10rem;
    @include flex(column, wrap, center, center);

    h2 {
        @include estiloTexto(1.875rem, $colorTerciario, center);
        background-color: $colorFondoTitulo;
        width: 100%;
        animation: aumentar 1s ease-in-out forwards;
    }

    @keyframes aumentar {
        0% {
            font-size: 0;
            background-color: $colorFondoTitulo;
        }

        100% {
            font-size: 1.875rem;
            background-color: $colorFondoTitulo;
        }
    }
}